.git
.github
.husky
.storybook
coverage
dist
node_modules
playwright-report
storybook-static
test-results
stats.html
stats.json
*.log
.DS_Store
.env.local
.env.development
.env.production
.env.staging
